build/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.git
.venv
__pycache__
*.pyc
.vscode
.idea
instance
dist
.pytest_cache
*.egg-info
__recycle_bin/
*.tar
*.zip
*.tar.gz
_recycle_bin/
.env.key
.env.prod
.env.dev