Flask>=2.2
Flask-SQLAlchemy
Flask-Login
Flask-WTF>=1.1
waitress
psycopg2-binary
redis
celery
gunicorn
eventlet
requests
itsdangerous>=2.0
werkzeug
python-dotenv
Flask-Session>=0.5
Flask-Cors
flask-socketio[redis]
pillow
Flask-Migrate
#watchdog
markdown2
Flask-admin
## Flask-Uploads 已移除，统一用Flask原生secure_filename和自定义保存
Flask-Dropzone
Flask-Mail
PyPDF2
python-docx